<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>チ</title>
    <style>
        .abc{
            color:blue;
            margin: 10px;
            border: 1px solid black;
            text-align: center;
        }

        .yoko{
            display: flex;
        }


    </style>
</head>
<body>
<biv><h1 class="abc">チ。地球の自転について</h1>
</biv>
<br>
<i>地球は、回っている。</i>
<br>
<i>しかし、証明するためには根拠がない。</i>
<br>
<i>協力を得ようにも、証明する前に異端審問官にバレたら終わりだ。</i>
<br>
<i>だから、いったんは一人でやってみるつもりだ。</i>
<br>
<i>異端審問官の駆逐を。。</i>
<details>この独り言は異端審問官に聞かれている</details>
<br>
<ol>うわあああ！！僕の脳みそをいじくるのはやめろ！！異端審問官！！</ol>
<br>
<mark>地球は動いていなかった</mark>
<br>

</body>
</html>